<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true" />
	</settings>
	<typeAliases>
		<typeAlias type="com.board.dto.PostViewDto" alias="postView" />
		<typeAlias type="com.board.domain.PostInfo" alias="postInfo" />
	</typeAliases>
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="org.mariadb.jdbc.Driver" />
				<property name="url"
					value="jdbc:mariadb://localhost:3306/board_study" />
				<property name="username" value="root" />
				<property name="password" value="akfldk1elql" />
			</dataSource>
		</environment>
	</environments>

	<mappers>
		<mapper resource="com/board/mapper/postMapper.xml" />
	</mappers>
</configuration>