<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="aa">
	<select id="selectPost" resultType="postInfo">
		select 
			post_id
			, category_id
			, title
			, post_content
			, writer
			, write_dt
			, update_dt 
		from post_info 
			where post_id = #{post_id}
	</select>
</mapper>